body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 1.25em;
}

h2 {
    font-size: 1.1em;
}

.chart-container {
    height: 15vh;
}

.interval-selector {
    text-align: center;
    padding: 1em
}